.main-content {
  flex-grow: 1;
}

.page-heading {
  display: flex;
  margin-top: 24px;
}
.page-heading h2 {
  margin: 0;
  font-weight: 500;
  margin-top: 4px;
}
.page-heading button {
  margin-left: auto;
  width: 205px;
  margin-right: 0;
}
.search-setion {
  display: flex;
  align-items: center;
  gap: 10px; /* To space out the dropdown buttons */
  margin-top: 24px;
}
.search-setion input {
  width: 75%;
  height: 40px;
  border-radius: 6px;
  border: 1px solid rgba(0, 9, 50, 0.12);
  color: #838383;

  background-image: url(../../assets/icons/search.png);
  background-repeat: no-repeat;
  background-size: 22px;

  background-position: 15px center;
  padding-left: 45px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: 16px;
}
.search-section input::placeholder {
  color: #838383;
}
.search-setion input:focus {
  border-color: #ea3958;
  outline: none;
}

.search-setion input {
  padding: 8px;
  border: 1px solid #ccc;
}

/* create release page */
.release-step.release-last-step {
  width: auto;
}
.release-step {
  align-items: center;
  color: #bbbbbb;
  width: 100%;
  position: relative;
  display: flex;
  gap: 10px;
  margin-top: 12px;
  margin-bottom: 24px;
}
.release-step-number {
  font-size: 18px;
  width: 36px;
  height: 36px;
  background-color: #bbbbbb;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 4px;
  position: relative;
  z-index: 2;
}
.release-step.step-active .release-step-number {
  background-color: #ea3958;
}
.release-step p {
  margin: 0;
  white-space: nowrap;
  flex-shrink: 0;
  font-weight: 500;
}

/* Horizontal line */
.release-step-line {
  flex-grow: 1;
  flex-grow: 1;
  height: 1px;
  background-color: #d9d9d9;
  margin-right: 12px;
}

.release-last-step::after {
  display: none;
}
.createRelease-content-div {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 40px;
}
.createRelease-content-div input {
  width: 100%;
  font-size: 16px;
}
.createRelease-content-div label {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 8px;
  display: block;
}
.createRelease-content-div .radio-group label {
  margin-top: 0px;
  margin-bottom: 0px;
}
.createRelease-content-div .form-grid {
  row-gap: 0px;
}
.createRelease-content-div .dropdown-trigger {
  color: rgba(0, 7, 27, 0.5);
  font-weight: 500;
}

.createRelease-content-div .releaseDtae-radio-group label span {
  /* margin: -20px 0 0 20px; */
  display: block;
  display: flex;
  justify-content: center;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  position: relative;
}
.createRelease-dropdown {
  width: 100%;
}
.createRelease-btns {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  justify-content: space-between;;
}
.createRelease-btns .theme-btn {
  border-radius: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  /* margin-left: auto; */
  padding: 16px 24px;
}
.createRelease-btns .theme-btn2 {
  padding: 16px 24px;
  border-radius: 0;
  width: auto;
  background-color: #838383;
  color: #fff !important;
  display: flex;
  justify-content: center;
  /* margin: auto; */
  /* margin-left: 0; */
}
.release-step-before .release-step-number {
  background-color: #202020;
}
.release-step-before {
  color: #202020;
}
.create-release-heading {
  font-size: 24px;
  font-weight: 500;
}
.release-img-upload {
  width: 100%;
  height: 173px;
}
.createRelease-content-div textarea {
  width: 100%;
  height: 136px;
}
.release-album-list {
  display: flex;
  border-radius: 4px;
  background-color: #f9f9f9;
  padding: 16px;
  align-items: center;
}
.release-album-list p {
  margin: 0;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  flex: 1 !important;
}
.release-album-playIcon {
  min-width: 36px;
  min-height: 36px;
  margin-right: 20px;
}
.release-album-arrowIcon {
  min-width: 22px;
  min-height: 26px;
  color: #838383;
  cursor: pointer;
}
.release-album-list small {
  color: #838383;
}
.rangeSliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 200px;
  height: 20px;
  margin-right: 47px;
}

.rangeSliderRoot .SliderTrack {
  background-color: #e0e0e0;
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.rangeSliderRoot .SliderRange {
  position: absolute;
  background-color: #ea3958;
  border-radius: 9999px;
  height: 100%;
}

.rangeSliderRoot .SliderThumb {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #ea3958;
  border-radius: 10px;
  border: 1px solid #fff;
}
.rangeSliderRoot .SliderThumb:hover {
  background-color: #ea3958;
}
.rangeSliderRoot .SliderThumb:focus {
  outline: none;
  /* box-shadow: 0 0 0 5px var(--black-a8); */
}
.release-album-RangeDiv {
  margin-left: auto;
  align-items: center;
}
.release-album-RangeDiv p {
  font-size: 14px;
  margin-right: 24px;
}
.add-album-div {
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 12px;
}
.add-album-div h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 20px 0;
}
.release-overview-img-div .release-overview-img {
  width: 256px;
  border-radius: 4px;
  margin-right: 24px;
}
.release-overview-img-div h1 {
  font-size: 60px;
  font-weight: 500;
  margin: 20px 0 0 0;
}
.release-overview-img-div h2 {
  font-size: 28px;
  margin: 16px 0 0 0;
  font-weight: 500;
  color: #838383;
}
.createRelease-overview-div {
  padding: 16px;
}
.createRelease-overview-div hr {
  border: 1px solid #f0f0f0;
  margin: 24px 0;
}
.release-album-info-row,
.release-track-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 16px; */
}
.release-album-info-row p,
.release-track-details p {
  font-size: 14px;
  margin-bottom: 8px;
}
.release-album-info-row p:first-child,
.release-track-details p:first-child {
  color: #838383;
  width: 35%;
}
.release-album-info-row p:last-child,
.release-track-details p:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  padding-right: 8px;
}
.release-album-title {
  font-size: 24px;
  color: #838383;
  font-weight: 500;
  margin: 0;
}
.release-track-download-btn {
  border: none;
  background-color: #e8e8e8;
  border-radius: 4px;
  padding: 2px 10px;
  margin-right: 44px;
  display: flex;
  align-items: center;
}
.release-track-download-btn svg {
  width: 16px;
  margin-right: 8px;
}
.release-track-tabs-trigger.tabs-trigger[data-state="active"] {
  color: #202020;
  border-bottom: 2px solid #202020;
}
.release-track-tabs-trigger.tabs-trigger[data-state="active"] div {
  color: #fff;
  background: #202020;
}
.album-details {
  padding: 0 16px 16px 16px;
}
.release-track-details button {
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 500;
}
.release-track-create-successful {
  width: 512px;
  margin: auto;
  text-align: center;
  padding: 24px;
  border: 1px solid #e2e8f0;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.release-track-create-successful h5 {
  font-size: 18px;
  font-weight: 500;
}
.release-track-create-successful p {
  font-size: 14px;
  color: #64748b;
}
.release-track-create-successful img {
  width: 100px;
}
.release-backDash-btn {
  border: 1px solid #e93d82;
  border-radius: 6px;
  padding: 6px 16px;
  background: none;
  color: #e93d82;
  width: 100%;
}

/* single release page start */
.createRelease-content-div .card-type-txt {
  font-size: 16px;
  text-transform: uppercase;

  margin-bottom: 16px;
}
.singleRelease-dropdown-content {
  position: absolute;
  left: -220px;
  top: -40px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  padding: 0px;
  width: 200px;
}
.singleRelease-dropdown-content img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.singleRelease-dropdown-content .dropdown-item {
  font-size: 16px;
}
.singleRelease-tabs .singleRelease-tabsList {
  display: flex;
  width: 100%;
}
.release-analytics {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  margin: 0 20px 20px 20px;
}
.release-analytics h5 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
}

.analytics-card {
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 16px;
}
.analytics-card h6 {
  font-size: 18px;
  font-weight: 500;
  color: #838383;
  margin: 0 0 10px 0;
}
.analytics-card h2 {
  font-size: 35px;
  font-weight: 500;
  color: #202020;
  margin: 0;
}
.analytics-card-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  margin-top: 10px;
}
.singleRelease-tabs button {
  width: 100%;
}

.singleRelease-tabs div {
  margin-bottom: 4px;
  column-gap: 16px;
}
.singleRelease-tabs div label {
  margin-bottom: 4px;
  display: block;
  color: #838383;
}
.singleRelease-tabs .tabs-trigger[data-state="active"] {
  color: #dc3e42;
}
.singleRelease-tabs .tabs-trigger {
  margin-bottom: -4px;
  font-size: 18px;
  justify-content: center;
}
.release-chart {
  margin-left: -33px;
}
.releaseCredit-items img {
  width: 36px;
  height: 36px;
  margin-right: 12px;
}

.releaseCredit-items .d-flex {
  align-items: center;
}
.releaseCredit-items-title {
  width: 35%;
  color: #838383;
  font-size: 14px;
}
@media screen and (max-width: 1216px) {
  .release-card {
    width: calc(25% - 41px);
  }
  /* single release */
  .release-overview-img-div h1 {
    font-size: 50px;
  }
  .release-overview-img-div h2 {
    font-size: 26px;
  }
}
@media screen and (max-width: 1150px) {
  .rangeSliderRoot {
    margin-right: 17px;
  }
  .release-track-download-btn {
    margin-right: 17px;
  }
}
@media screen and (max-width: 1110px) {
  /* single release */
  .release-overview-img-div h1 {
    font-size: 45px;
  }
  .release-overview-img-div h2 {
    font-size: 26px;
  }
  .release-album-info-row p:first-child,
  .release-track-details p:first-child {
    width: 40%;
  }
  .rangeSliderRoot {
    width: 150px;
  }
}
@media screen and (max-width: 1035px) {
  .rangeSliderRoot,
  .release-album-RangeDiv p {
    display: none;
  }
  .singleRelease-tabs .tabs-trigger {
    width: 50%;
  }
  .release-chart {
    width: 103% !important;
  }
}
@media screen and (max-width: 995px) {
  .release-step p {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .release-card {
    width: calc(33% - 37px);
  }
  .release-album-info-row p:first-child,
  .release-track-details p:first-child {
    width: 45%;
  }
  /* single release */
  .release-overview-img-div h1 {
    font-size: 40px;
  }
  .release-overview-img-div h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 908px) {
  .release-album-info-row p:first-child,
  .release-track-details p:first-child {
    width: 50%;
  }
  .releaseCredit-items .d-flex p {
    font-size: 14px;
  }
  .release-track-details {
    display: block;
  }
}

@media screen and (max-width: 853px) {
  .release-card {
    width: calc(33% - 38px);
  }
  .release-form-grid {
    display: block;
  }
}
@media screen and (max-width: 830px) {
  .release-card {
    width: calc(25% - 41px);
  }
  .rangeSliderRoot,
  .release-album-RangeDiv p {
    display: flex;
  }
  .releaseCredit-items .d-flex p {
    font-size: 16px;
  }
  .release-track-details {
    display: grid;
  }
  .createRelease-content-div.main-content {
    margin-bottom: 20px !important;
  }
  .release-analytics {
    margin-bottom: 90px;
  }
  .release-overview-img-div .release-overview-img {
    width: 200px;
  }
  .release-step p {
    display: block;
  }
  .release-form-grid {
    display: grid;
  }
}
@media screen and (max-width: 785px) {
  .rangeSliderRoot,
  .release-album-RangeDiv p {
    display: none;
  }
  .release-step p {
    display: none;
  }
}
@media screen and (max-width: 740px) {
  .release-card {
    width: calc(33% - 38px);
  }
}
@media screen and (max-width: 715px) {
  .release-track-details {
    display: block;
  }
  .release-track-details p:first-child {
    width: 35%;
  }
  .release-overview-img-div h1 {
    font-size: 30px;
  }
  .release-overview-img-div h2 {
    font-size: 22px;
  }
  .release-overview-img-div .release-overview-img {
    width: 156px;
  }
  .releaseCredit-formGrid {
    display: block;
  }
}
@media screen and (max-width: 610px) {
  .release-track-create-successful {
    width: 412px;
  }
}
@media screen and (max-width: 590px) {
  .release-album-info-row {
    display: block;
  }
  .release-album-info-row p:first-child {
    width: 45%;
  }
  .release-form-grid,
  .upload-container {
    display: block;
  }
  .img-upload-info {
    padding-left: 0 !important;
  }
}
@media screen and (max-width: 540px) {
  .singleRelease-tabs .singleRelease-tabsList {
    display: block;
  }
  .singleRelease-tabs .tabs-trigger {
    width: 100%;
  }
  .release-card {
    width: calc(50% - 36px);
  }
  .release-overview-img-div {
    display: block;
  }
  .release-track-download-btn {
    display: none;
  }
  .release-overview-img-div h2 {
    margin-top: 0;
  }
  .release-overview-img-div h1 {
    margin: 8px 0 0 0;
  }

  .release-overview-img-div .release-overview-img {
    display: block;
    margin: auto auto 20px auto;
    width: 200px;
  }
  .release-chart {
    width: 107% !important;
  }
  .releaseDtae-radio-group {
    display: block;
  }
  .createRelease-content-div .releaseDtae-radio-group label span {
    justify-content: start;
  }
  .release-track-create-successful {
    width: 350px;
  }
}
@media screen and (max-width: 425px) {
  .release-container {
    column-gap: 8px;
  }
  .release-card {
    width: calc(50% - 30px);
  }
  .release-album-playIcon {
    margin-right: 10px;
  }
  .release-album-list {
    padding: 8px;
  }
  .release-overview-img-div h1 {
    font-size: 28px;
  }
  .release-overview-img-div h2 {
    font-size: 20px;
  }
  .createRelease-content-div {
    padding: 16px !important;
  }
  .release-track-create-successful {
    width: 300px;
  }
}
