.settings-div {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 16px;
}
.settings-div h4 {
  color: #838383;
  font-weight: 500;
  font-size: 20px;
  margin-top: 0;
}
.settings-div p {
  font-size: 14px;
}

/* Dropdown styling */
.settings-div .select-trigger {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #e8e8ec;
  border-radius: 6px;
  background-color: rgba(0, 0, 85, 0.02);
  cursor: pointer;
  text-align: left;
  box-shadow: inset 0 2px 1px -1px rgba(255, 255, 255, 0.7),
    inset 0 4px 2px -2px rgba(255, 255, 255, 0.7), inset 0 0 0 1px #3e63dd1d,
    inset 0 -2px 1px 0 rgba(0, 0, 51, 0.05),
    inset 0 0 0 1px rgba(0, 0, 51, 0.05);
  display: flex;
  font-size: 16px;
  margin-bottom: 16px;
}

.settings-select-content {
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  z-index: 10;
}

.settings-select-item {
  padding: 10px;
  outline: none;
  cursor: pointer;
}

.settings-select-item:hover {
  background-color: #eee;
}

/* Button */
.settings-save-btn {
  margin-top: 15px;
  background: #ea3958;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.chevron-icon {
  transition: transform 0.2s ease-in-out;
  margin-left: auto;
}

[data-state="open"] .chevron-icon {
  transform: rotate(180deg);
}

.settings-form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  position: relative;
}

.settings-form-grid input {
  width: 100%;
  margin-top: 8px;
  height: 40px;
  border-radius: 6px;
  font-size: 16px;
  padding-left: 9px;
}
.settings-form-grid label {
  font-size: 14px;
  color: #202020;
}
.settings-form-grid .dropdown-trigger {
  margin-top: 8px;
  width: 100%;
}
@media screen and (max-width: 585px) {
  .settings-form-grid {
    display: block;
    /* grid-template-columns: repeat(1, 1fr); */
  }
  .settings-form-grid label {
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .settings-form-grid .radio-label span {
    margin-left: 28px;
    margin-top: -18px;
    display: block;
  }
  .settings-form-grid .radio-label {
    margin-top: 0;
  }
}
